body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
} 

h1{
    color: green;
    font-family: 'Proza Libre', sans-serif;
}

.main{
    margin: 8px;
    margin-top: 70px;
}

.lista{
    background-color: rgb(235, 206, 230);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
}

.lista li{
    display: inline;
}

.lista li a{
    color: #463F3A;
    float: center;
    font-size: 20px;
    padding: .5em;
    text-decoration: none;
    text-decoration-style: none;
    text-align: center;
    padding: 14px 14px;
}

.lista li a:hover{
    color: rgb(120, 2, 136);
    font-size: 20px;
}

.logo{
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    transition: .2s;
}

.logo:hover{
    transform: scale(1.2);
}

.dane{
    padding: .5em;
    display: flex;
}

.dane.el{
    display: flex;
    padding: .5em;
    align-content: center;
}

figcaption{
    font-weight: bold;
}

p{
    margin: 10px;
    text-align: justify;
}

table{
    table-layout: auto;
    justify-self: center;
    text-justify: distribute;
}

.origamihd{
    height: 1000px;
    width: 100%
}

.origamitresc{
    position: absolute;
    left: 90px;
    top: 300px;
    color: rgb(255, 255, 255);
    font-size: 200px;
    font-style: italic;
    -webkit-text-stroke: 4px  rgb(120, 2, 136);
}
