body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
} 

::selection {
    color:rgb(255, 255, 255);
    background: #333;
}

h1{
    color: rgb(128, 0, 122);
    font-family: 'Proza Libre', sans-serif;
}

.logoOnTop{
    position: relative;
    height: 400px;
    top: 80px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 280px
}

.szydelkohd{
    height: 500px;
    width: 100%;
    position: absolute
}

.indexmain{
    margin: 8px;
    margin-top: 235px;
    letter-spacing: 1px;
}

.main{
    margin: 8px;
    margin-top: 42px;
    letter-spacing: 1px;
}

.lista{
    background-color: rgb(235, 206, 230);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    z-index: 999;
}

.lista li{
    display: inline;
}

.lista li a{
    color: #463F3A;
    float: center;
    font-size: 20px;
    padding: .5em;
    text-decoration: none;
    text-decoration-style: none;
    text-align: center;
    padding: 14px 14px;
}

.lista li a:hover{
    color: rgb(120, 2, 136);
    font-size: 20px;
}

.logo{
    width: auto;
    height: auto;
    max-width: 60px;
    max-height: 60px;
    transition: .2s;
}

.logo:hover{
    transform: scale(1.2);
}

.dane{
    padding: .5em;
    display: flex;
}

.dane.el{
    display: flex;
    padding: .5em;
    align-content: center;
}

figcaption{
    font-weight: bold;
}

p{
    margin: 10px;
    text-align: justify;
}

table{
    table-layout: auto;
    justify-self: center;
    text-justify: distribute;
}

.origamihd{
    height: 500px;
    width: 100%
}

.origamitresc{
    position: absolute;
    left: 90px;
    top: 305px;
    color: rgb(228, 186, 221);
    font-family: 'Proza Libre', sans-serif;
    font-size: 200px;
    font-style: italic;
    -webkit-text-stroke: 4px  rgb(255, 255, 255);
}

.origamiartykul{
    margin-left: 22%;
    margin-right: 22%;
    color: #463F3A;
    font-weight: 500;

}

.origamiheader{
    margin-left: 21%;
    margin-right: 20%;
}

.origamiwarsztat{
    color: black;
    text-decoration: none;
    -webkit-transition: all 0.1 ease-in-out;
    -moz-transition: all 0.1 ease-in-out;
    -o-transition: all 0.1 ease-in-out;
    -ms-transition: all 0.1 ease-in-out;
    transition: all 0.1s ease-in-out;
}

.origamiwarsztat:hover{
    padding: 10px;
    color: rgb(120, 2, 136)
}

.warsztat{
    display:inline; 
    margin-right:20px;
    margin-left: 22%
}

form, input, select, textarea {
    margin:0; 
    padding:0; 
    color:#000000;
}

div.box {
    margin:0 auto;
    width:500px;
    background:rgb(235, 206, 230);
    position:relative;
    top:50px;
    border:1px solid #d1cfcf;
}

div.box .button	{
    margin:0 0 10px 0;
    padding:4px 7px;
    background:rgb(235, 206, 230);
    border:0px;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top:10px;
    left: 170px;
    width:100px;
    border-bottom: 1px double #707070;
    border-top: 1px double #707070;
    border-left:1px double #a5a5a5;
    border-right:1px double #a5a5a5;
}

div.box .button:hover{
    background: rgb(120, 2, 136);
    font-size: 12px;
}

div.box label {
    width:100%;
    display: block;
    background:rgb(235, 206, 230);
    padding:5px 0px 5px 0px;
}

div.box label span {
    display: block;
    float:left;
    width:170px;
    text-align:right;
    padding:5px 20px 0 0;
}

.tabelka{
    margin: 0,auto;
    position: relative;
}

.tabelka img:hover{

}
.kurs{
    width: 80%;
    position: relative;
    display: flex;
    border: 5px color="grey";
    margin-left: auto;
    margin-right: auto;
}